/* SLIDES */

.slides-section{
padding:120px 8%;
background:#0b0b0b;
}

.slide{
display:flex;
align-items:center;
justify-content:space-between;
gap:90px;
margin-bottom:140px;
min-height:100vh;
}

.slide-content{
flex:1;
max-width:700px;
}

.slide-content h2{
font-family:'Cinzel',serif;
font-size:72px;
line-height:1.2;
margin-bottom:25px;
color:#f3d27a;
}

.slide-content h3{
font-size:18px;
letter-spacing:5px;
text-transform:uppercase;
color:#ff5f5f;
margin-bottom:30px;
}

.slide-content p{
font-size:24px;
line-height:2;
margin-bottom:30px;
color:#bdbdbd;
font-weight:300;
}

.slide-image{
flex:1;
display:flex;
justify-content:flex-end;
position:relative;
}

.slide-image img{
width:100%;
max-width:700px;
height:850px;
object-fit:cover;
border-radius:4px;
position:relative;
z-index:2;
}

/* BORDER EFFECT */

.slide-image::after{
content:'';
position:absolute;
top:30px;
right:-20px;
width:100%;
max-width:700px;
height:850px;
border:1px solid rgba(255,255,255,0.15);
z-index:1;
}

/* MOBILE */

@media(max-width:1000px){

.slide{
flex-direction:column-reverse;
gap:40px;
min-height:auto;
}

.slide-content h2{
font-size:42px;
}

.slide-content p{
font-size:18px;
}

.slide-image img{
height:450px;
}

.slide-image::after{
display:none;
}

}
